# BEGIN Joy Web Framework

<IfModule mod_rewrite.c>

	RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.*)$ index.php [L,QSA] 

</IfModule>

# END Joy Web Framework

### START ISPCP PROTECTION ###
#
#   AuthType Basic
#   AuthName "Secret Area"
#   AuthUserFile /var/www/.htpasswd
#   Require user meddah 
#	
### END ISPCP PROTECTION ###
